.header
    margin: auto;
    background: $bg-lin;
    width: 90%;
    height: 65px;
    display: flex;
    align-items: center;
.logo 
    width: 60px;
    height: 60px;
.menu-wrap
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;

.list
    list-style: none;
    display: flex;
    justify-content: space-between;
.logo-name
  font-size: 20px;
  line-height: 23px;

.item
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid $clr-orange;
    border-radius: 10px;
    padding: 0 10px ;
.item-link
    text-decoration: none;
    color: white;        
